.login-body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-con {

    width: 25vw;
    height: 60vh;
}

#login {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0, 24, 122) 0 0 5vw;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 2%;
}

#login-title-con {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#login-title {
    width: 100%;
    height: 100%;
    font-size: 8vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inputs-con {
    width: 75vw;
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#username-con,#password-con {
    width: 65vw;
    height: 2.5vh;
    display: flex;
    flex-direction: column;
    font-size: 3.5vw;
}

#username,#password {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #000000;
}


#forgot-password {
font-size: 4vw;
}

#submit-con {
width: 75vw;
height: 16vh;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}

#login-btn-con {
width: 20vw;
height: 5vh;
display: flex;
justify-content: center;
align-items: center;
}

#login-btn {
    width: 100%;
    height: 100%;
    font-size: 4vw;
    background-color: crimson;
    border-radius: 5%;
}

#sign-up-con {
    width: 60vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
}

#sign-up a {
    color: blue;
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    .login-body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-con {

    width: 80vw;
    height: 50vh;
}

}
