@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#body-container {
  width: 100%;
  min-height: 90vh;
  height: fit-content;
  display: flex;
  background-attachment: fixed;
  align-items: center;
  justify-content: start;
}

#body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#top-bar-con {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: linear .5s;
  background-color: rgba(19, 18, 18, 0);
}

#colorbar{
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: linear .5s;
  background-color: rgb(19, 18, 18);
}

#l-con,#m-con,#r-con {
  min-height: 10vh;
}

#l-con {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  padding-left: 4%;
}

#logo {
  height: 25vh;
  position: absolute;
  top:3vh;
  width: auto;
  aspect-ratio: 1/1;
  transition: linear .5s;
}

#logo-small{
  height: 7vh;
  position: absolute;
  top:1.3vh;
  width: auto;
  aspect-ratio: 1/1;
  transition: linear .5s;
}

#m-con {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-weight: bolder;
}

#tb-menu {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  list-style: none;
  font-family: "Yellowtail", cursive;
}

.menu-i {
  font-size: 1.5rem;
  margin: 0 5%;
  transition: linear 0.3s;
  color: rgb(226, 226, 226);
}

.menu-i:hover {
  color: rgb(146, 30, 30);
  text-shadow: rgb(0, 0, 255) 0 0 25px, rgb(255, 255, 255) 0 0 15px;
  transition: linear 0.3s;
  cursor: pointer;
}

#r-con {
  width: 20%;
}

#top-sec {
  height: 100vh;
}
#ts {
  height: 100%;
}

#ts-img {
  width: 100%;
  height: auto;
  object-position: 0 -10vh;
}

#bs {
  height: fit-content;
  padding-bottom: 3vh;
  width: 90%;
  position: absolute;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  background-color: rgba(43, 43, 43, 0.815);
  box-shadow: 0 0 3rem;
  top: 60vh;
  left: 5vw;
}

#crsl-con {
  height: 5vh;
  width: 10vw;
  position: relative;
}

#crsl {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.crsl-dots {
  height: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.863);
}

.crsl-dots:hover,.crsl-dots.active{
  background-color: rgba(192, 192, 192, 0.856);
  box-shadow: 0 0 5em , 0 0 1.5em white;
  cursor: pointer;
}

#main-text{
  height: 85%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ts-text{
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: aliceblue;
  font-family: "Yellowtail", cursive;
  font-size: 2vw;
}

.sec-cons {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 90%;
  height: 100vh;
  background-color: rgb(208, 208, 219);
}

.sec-top-con,.sec-bot-con {
  width: 100%;
  height: 50%;
  box-shadow: -2 0 1rem;
}

#s-con{
 position: relative;
}

.sec-bot-con {

background-color: rgb(19, 18, 18);
}

#social{
  width: 100%;
  height: auto;
  object-position: 0 -20vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#s-list-con{
  width: 100%;
  height: 100%;
  background-color: aqua;
  display: flex;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 1;
}



@media screen and (max-width: 1200px) {
  #top-bar-con{
    background-color: black;
  }
}