@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#body-container {
  width: 100%;
  min-height: 1400px;
  min-height: 90vh;
  height: fit-content;
  display: flex;
  background-attachment: fixed;
  align-items: center;
  justify-content: start;
  background-image: linear-gradient(rgb(19, 18, 18) 0 20%, rgb(33, 33, 94));
}

#body{
  width: 100%;
  height: 100%;
  min-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#top-bar-con {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgb(19, 18, 18);
}

#l-con,#m-con,#r-con {
  min-height: 10vh;
}

#l-con {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  padding-left: 4%;
}

#logo {
  height: 5em;
  width: auto;
  aspect-ratio: 1/1;
  mix-blend-mode: color-dodge;
  mix-blend-mode: lighten;
}

#m-con {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-weight: bolder;
}

#tb-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none;
  font-family: "Yellowtail", cursive;
}

.menu-i {
  font-size: 1.5rem;
  margin: 0 25%;
  transition: linear 0.3s;
  color: rgba(226, 226, 226, 0.849);
}

.menu-i:hover {
  color: rgb(146, 30, 30);
  text-shadow: rgb(0, 0, 255) 0 0 30px, rgb(255, 255, 255) 0 0 15px;
  transition: linear 0.3s;
}

#r-con {
  width: 20%;
}

#top-sec {
  margin-top: 10vh;
  height: 90vh;
}
#ts {
  height: 65%;
}

#ts-img {
  width: 100%;
  height: auto;

  object-position: 0 -20vh;
}

#bs {
  height: 35%;
}

#crsl-con {
  height: 15%;
  width: 15%;
  position: relative;
  left: 43.5%;
}

#crsl {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.crsl-dots {
  height: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.863);
}

.crsl-dots:hover,.crsl-dots.active{
  background-color: rgba(192, 192, 192, 0.575);
  box-shadow: 0 0 2em , 0 0 .5em white;
}

.sec-cons {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  min-height: 90%;
  height: 60vh;
  background-color: rgb(255, 255, 255);
}

.sec-top-con,.sec-bot-con {
  width: 100%;
  height: 50%;
}

.sec-bot-con {
  background-color: rgb(58, 58, 58);
}
