@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  font-family: "Yellowtail", cursive;
}

body {
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #131313;
}

#body-container {
  width: 100%;
  min-height: 90vh;
  height: fit-content;
  display: flex;
  background-attachment: fixed;
  align-items: center;
  justify-content: start;
}

#body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#top-bar-con {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: linear 0.5s;
  background-color: rgba(19, 18, 18, 0);
}

#colorbar {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: linear 0.5s;
  background-color: #131313;
}

#l-con,
#m-con,
#r-con {
  min-height: 10vh;
}

#l-con {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  padding-left: 4%;
}

#logo {
  height: 25vh;
  position: absolute;
  top: 3vh;
  width: auto;
  aspect-ratio: 1/1;
  transition: linear 0.5s;
}

#logo-small {
  height: 7vh;
  position: absolute;
  top: 1.3vh;
  width: auto;
  aspect-ratio: 1/1;
  transition: linear 0.5s;
}

#m-con {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-weight: bolder;
}

#tb-menu {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  list-style: none;
}

.menu-i {
  font-size: 1.5rem;
  margin: 0 5%;
  transition: linear 0.3s;
  color: rgb(226, 226, 226);
}

.menu-i:hover {
  color: rgb(146, 30, 30);
  text-shadow: rgb(0, 0, 255) 0 0 25px, rgb(255, 255, 255) 0 0 15px;
  transition: linear 0.3s;
  cursor: pointer;
}

#r-con {
  width: 20%;
}

#top-sec {
  height: 100vh;
}
#ts {
  height: 100%;
}

#ts-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#bs {
  height: fit-content;
  padding-bottom: 3vh;
  width: 90%;
  position: absolute;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  background-color: #131313d4;
  box-shadow: 0 0 3rem;
  top: 60vh;
  left: 5vw;
}

#crsl-con {
  height: 5vh;
  width: 10vw;
  position: relative;
}

#crsl {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.crsl-dots {
  height: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.863);
}

.crsl-dots:hover,
.crsl-dots.active {
  background-color: rgba(192, 192, 192, 0.856);
  box-shadow: 0 0 5em, 0 0 1.5em white;
  cursor: pointer;
}

#main-text {
  height: 85%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ts-text {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: aliceblue;
  font-size: 2vw;
}

.sec-cons {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 90%;
  height: 100vh;
  /* background-color: rgb(208, 208, 219); */
}

.sec-top-con,
.sec-bot-con {
  width: 100%;
  height: 50%;
  box-shadow: -2 0 1rem;
}

#media-con {
  position: relative;
  background-color: rgba(245, 222, 179, 0);
}

.sec-bot-con {
  background-color: rgb(19, 18, 18);
}

#social-img {
  width: 100%;
  height: 100%;
  object-position: 0 -20vh;
  object-fit: cover;
}

#s-list-con {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 255, 0);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}

.sec-head {
  height: 20%;
  width: 40%;
  padding-right: 2vw;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1vw #131313;
  color: #eadbdb;
  background-color: #13131371;
}

#s-list {
  height: 60%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  list-style: none;
  position: relative;
}

.s-list-item {
  width: 6vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
  box-shadow: 0 0 2vw;
}
.s-list-item:hover > .img-con {
  width: 80%;
  box-shadow: 0 0 1vw;
}

.img-con {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: aliceblue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
}

#facebook-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#email-img {
  height: 50%;
  width: 60%;
  object-fit: scale-down, contain;
  mix-blend-mode: color-burn;
  mix-blend-mode: darken;
}

#phone-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #body-container {
    width: 100%;
    min-height: 90vh;
    height: fit-content;
    display: flex;
    background-attachment: fixed;
    align-items: center;
    justify-content: start;
  }

  #body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  #top-bar-con {
    height: 0vw;
    min-height: 10vh;
    max-height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: linear 0.5s;
    background-color: rgba(19, 18, 18, 0);
  }

  #colorbar {
    height: 30vw;
    max-height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: linear 0.5s;
    background-color: rgb(19, 18, 18);
  }

  #l-con,
  #m-con,
  #r-con {
    min-height: 15vh;
  }

  #l-con {
    width: 20vw;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  #logo {
    height: 30vw;
    top: 15vh;
    left: 35vw;
    display: flex;
  }

  #logo-small {
    position: absolute;
    height: 9vh;
    top: 15%;
    left: 5%;
  }

  #m-con {
    width: 60vw;
  }

  #r-con {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #menu-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    aspect-ratio: 1/1;
    height: 10vw;
    max-height: 6vh;
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }

  .burger {
    height: 10%;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }

  .menu-i {
    display: none;
    font-size: 0.5rem;
  }

  #top-sec {
    height: 100vh;
  }

  #ts {
    height: 100%;
  }

  #ts-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sec-bot-con {
    display: flex;
  }

  .media-cons {
    width: 100%;
    height: 100vh;
  }

  .sec-top-con {
    width: 100%;
    height: fit-content;
  }

  #bs {
    position: absolute;
    top: 60vh;
    height: fit-content;
  }

  #crsl-con {
    top: 0.5vw;
    width: 35vw;
    height: 6.5vh;
  }

  .crsl-dots{
    height: 6.5vw;
  }

  #main-text {
    width: 90%;
    height: 100%;
  }

  #ts {
    position: relative;
    height: 100vh;
  }

  #ts-text {
    font-size: 3vw;
  }

  .sec-cons {
    height: 100vh;
    width: 100vw;
  }

  #media-mobile {
    height: 50vw;
  }

  #social-img {
    height: 100%;
    width: 100%;
    object-position: 0 0vh;
    object-fit: cover;
  }

  #s-list-con {
    height: 65%;
  }

  #s-list{
    width: 90%;
  }

  .s-list-item{
    width: 15vw;
  }

  .sec-head {
    height: 25%;
  }
}
